#myHeader{
background-color: blue;
color: white;
text-align: center;
font-family: "Times New Roman", Times;
padding: 20px:
}
#Vacation{
border: 5px solid black;
height: 100px;
width: 100px;
max-height: 100%
max-width: 100%;
}

.main{
font-size: 25px;
color: blue;
}
.subMain{
font-size: 18px;
color: green;

}
.mainImg{
border: 5px black;
display: block;
margin-right: auto;
margin-left: auto;
max-width: 100%;
}

.secondImg{  
display: block;
margin-right: auto;
margin-left: auto;
max-width: 100%
}

.sidebar{
height: 100%;
top: 0;
left: 0;
position: fixed;
width: 200px;
height: 500px;
background-color: Green;
padding: 30px 30;
max-height:100%;
max-width:100%;
}
.sidebar h2{
	color: white;
	text-align: center;
}
.sidebar u1{
	color: black;
	font-style: normal;	
}
.sidebar u1 li a{
	color: white;
}
a:hover{
	color: green;
}
